<launch>
  
  <arg name="host"/>
  <arg name="port"/>
  <arg name="db_overwrite"/>
  <arg name="db_location"/>

  <param name="warehouse_host" value="$(arg host)"/>
  <param name="warehouse_port" value="$(arg port)"/>

  <node name="mongo" type="mongo_wrapper_ros.py" pkg="warehouse_ros">
    <param name="overwrite" value="$(arg db_overwrite)"/>
    <param name="database_location" value="$(arg db_location)"/>
  </node>

</launch>