<?xml version="1.0"?>

<launch>
  <master auto="start"/>
  <arg name="robot" default="$(optenv ROBOT !!ROBOT NOT SET!!)" />
  <arg name="robot_env" default="$(optenv ROBOT_ENV !!ROBOT_ENV NOT SET!!)" />

  <!-- Map_server-->
  <arg name="initial_map" default="living-room" />
  <node name="multi_map_server" pkg="multi_map_server" type="multi_map_server" args="$(arg initial_map)"/>


  <!--node pkg="tf" type="static_transform_publisher" name="odom_to_map"
    args="0.1 0  0  0 0 0  /map /odom_combined 100" /-->
  <!-- Name - Must be consistent with spawn name [To edit]:  -->
  <!-- Launch elevator manager -->
  <!--node pkg="multi_map_navigation" type="elevator_manager.py" name="elevator_blast" output="screen"/-->
  <node pkg="multi_map_navigation" type="multimap_transition.py" name="custom" output="screen"/>

  <!-- NAVIGATION -->
  <!-- visualize navigation goals -->
  <!-- DWA Local Planner -->
  <include file="$(find multi_map_navigation)/launch/2dnav.launch">
        <arg name="robot" value="$(arg robot)" />
        <arg name="robot_env" value="$(arg robot_env)" />
        <arg name="nav_mode" value="multimap" />
  </include>

  <node pkg="multi_map_navigation" type="multi_map_navigation_manager.py" name="my_multi_map_navigation" output="screen">
      <param name="definition_file" value="$(find multi_map_navigation)/yaml/real_config.yaml" />
      <param name="base_frame" value="base_link"/>
      <param name="transition_types" value="custom" />
  </node>
</launch>
